<mat-toolbar color="primary">
  <mat-toolbar-row>
   <app-map-view></app-map-view>
    <app-my-maps-view></app-my-maps-view>
    <button mat-raised-button (click)="openDialog()">New Search</button>
    <span class="spacer"></span> 
    <app-save-search></app-save-search>
    <div class="btn-group" dropdown>
      <button mat-icon-button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          <mat-icon>person_outline</mat-icon>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Log Out</a>
        </li>
      </ul>
   </div>
  </mat-toolbar-row>
</mat-toolbar>