app-map {
	display: block;
	height: 91.65%;
	width: 100%;
}

path {
	stroke-width: .1px;
	stroke: white;
	fill: #74be9b;
	cursor: pointer;
	width: contain;
	height: contain;
}

path:hover , path.highlighted {
	fill: orchid;
}

.features {
	transform: scale(3);
}


.background {
	fill: blue;
	pointer-events: all;
	height: 100%;
	width: 100%;
  }
