app-map {
	display: block;
	height: 100%;
	width: 100%;
}

//.countryInfo {
//	position: relative;
//}

.countryName {
	text-align: center;
}

.section {
	font-weight: bold;
}

p {
	margin-left: 10px;
}

path{
	stroke-width: .1px;
	stroke: white;
	fill: #6ebe80;
	cursor: pointer;
}

path:hover  {
	fill: #da9db6;
}

.highlighted{
	fill: #beaa74;
}

mat-card {
	margin: 10px;
}

.button-row {
	//position: absolute;
	bottom: 20px;
	margin: 20px;
}
.mat-raised-button{
	margin: 15px;
}

.background {
	fill: #5e8fff;
	pointer-events: all;
	height: 100%;
	width: 100%;
  }


div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: auto;
	font: 11px sans-serif;
	border: 0;
	line-height: 1;
 	font-weight: bold;
  	padding: 8px;
  	background: rgba(0, 0, 0, 0.8);
  	color: #fff;
  	border-radius: 2px;
  }


div.tooltip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	//content: "\25BC";
	position: absolute;
	text-align: center;
  }

mat-sidenav-container,
mat-sidenav {
	height: 100%;
}

mat-sidenav-content {
	height: 100%;
	background-color: #5e8fff;
}

mat-sidenav {
	width: 450px;
}

.mat-drawer-backdrop.mat-drawer-shown{
	display: none;
}