button{
	height: 100%;
	width: 100%;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	//background-color: aquamarine;
	//margin-bottom: 20px;
}

mat-card{
    height:100%;
	width:100%;
	//margin-bottom: 50px;
}

img{
	//object-fit: cover;
	//width: 150px;
	height: 80%;
}

.question-clicked{
	//background-color: aqua;
}

* {
	outline: none;
}