mat-tab-group{
	height: 100%;
}

.result {
	margin-top: 40px;
}
.column{
	margin-top: 50px;
	margin-left: 5%;
	width: 25%;
	float: left;
}

button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}