<div class="search-page" fxLayout="row" fxLayoutAlign="space-between center">
	<div fxFlex="6%">
		<button *ngIf="currentQuestionID > 1" (click)="decrementCurrentQuestionID($event)" mat-raised-button >Previous</button>
	</div>
	<ng-container  *ngFor="let Question of questionList">
		<app-search-question class="question" *ngIf="currentQuestionID == Question.questionID" fxFlex="85%"
			[questionTitle]="Question.questionTitle"
			[questionID]="Question.questionID"
			[selected]="getSelectedList()"
			[answerList]="Question.answerList"
			(questionResult)='generateJson($event)'>
		</app-search-question>
	</ng-container>
	<div fxFlex="6%">
		<button *ngIf="currentQuestionID < 3" (click)="incrementCurrentQuestionID($event)" mat-raised-button >NEXT</button>
	</div>
</div>

