<mat-tab-group>
	<mat-tab label="Where To?">
		<ng-container>
			<app-search-question class="question"
								 [questionTitle]="questionList[0].questionTitle"
								 [questionID]="questionList[0].questionID"
								 [answerList]="questionList[0].answerList">
			</app-search-question>
		</ng-container>
	</mat-tab>
	<mat-tab label="What Type Of Dive?">
		<app-search-question class="question"
							 [questionTitle]="questionList[1].questionTitle"
							 [questionID]="questionList[1].questionID"
							 [answerList]="questionList[1].answerList">
		</app-search-question>
	</mat-tab>
	<mat-tab label="Animals?">
		<app-search-question class="question"
							 [questionTitle]="questionList[2].questionTitle"
							 [questionID]="questionList[2].questionID"
							 [answerList]="questionList[2].answerList">
		</app-search-question>
	</mat-tab>
</mat-tab-group>