h2{
    text-align: center;
}
.question{
    font-size: 2em;
    text-align: center;
}
.answer {
    width: 250px;
    height: 150px;
    font-size: 1.5em;
    background-color: orchid;
}
#container{
  text-align: center;
  display: inline-block;
  position: absolute;
  //top: 50%;
  left: 30%;
  //right: 50%;
}